@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-carousel {
  animation: carousel 20s linear infinite;
}
